/* body {
    font-family:'sans-serif';
    color:white;
    font-weight: 300px;
    background: palevioletred;
    width: 100px;
    height:100px;
    margin-left:40%;
    
}

.cointainer {
    margin-left: 20px;
    padding: 80px ;;
    text-align:center;
}

.cointainer h1 {
    font-size:40px;
    font-weight: 200;
} */